* {
    -fx-chart-default: #3D9970;
    -fx-chart-negative: #FF4136;
    -fx-chart-font-color: #001F3F;
    -fx-chart-accent: #aaa;
}


.left {
    -fx-alignment: center-left;
}

.right {
    -fx-alignment: center-right;
}

.center {
    -fx-alignment: center;
}

.positive {
    -fx-text-fill: green;
}

.negative {
    -fx-text-fill: red;
}

.tree-table-row-cell:selected, .table-row-cell:selected {
    -fx-background-color: LIGHTGRAY;
    -fx-table-cell-border-color: LIGHTGRAY;
}

.top-control-bar {
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-alignment: center-left;
    -fx-fill-height: true;
}

.filter-icon {
    -glyph-size: 20;
    -glyph-name: FILTER;
}

.bottom-status-bar {
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-padding: 15px, 0, 15px, 0;
}

.popover .bottom-status-bar .label {

    -fx-text-fill: -fx-chart-font-color;
}

.popover .bottom-status-bar .negative {

    -fx-text-fill: -fx-chart-negative;
}

.popover .bottom-status-bar .positive {

    -fx-text-fill: -fx-chart-default;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane {
    -fx-tab-min-width: 150px;
    -fx-tab-max-width: 150px;
    -fx-tab-min-height: 30px;
    -fx-tab-max-height: 30px;
}

.chart-title {
    -fx-text-fill: -fx-chart-font-color;
    -fx-font-size: 1.6em;
    -fx-font-weight: bold
}

.chart-bar {
    -fx-background-color: -fx-chart-default;
    -fx-border-color: -fx-chart-default;
}

.chart-bar.negative {
    -fx-background-color: -fx-chart-negative;
    -fx-border-color: -fx-chart-negative;
}

.default-color0.chart-series-area-line {
    -fx-stroke: -fx-chart-default;
}

.default-color0.chart-series-area-fill {
    -fx-fill: -fx-chart-default;
    -fx-opacity: 0.50;
}

.default-color0.chart-area-symbol {
    -fx-background-color: -fx-chart-default;
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: -fx-chart-accent;
    -fx-stroke-width: 1;
    -fx-stroke-dash-array: 3;
}

.axis {
    -fx-tick-label-fill: -fx-chart-font-color;
    -fx-tick-label-font-size: 12;
    -fx-tick-length: 5;
    -fx-minor-tick-length: 0;
}

.axis-label {
    -fx-text-fill: -fx-chart-font-color;
    -fx-font-weight: bold
}

.chart-tooltip {
    -fx-padding: 20px;
    -fx-background-color: #001F3F;
    -fx-opacity: 0.75;
    -fx-font-size: 2em;
    -fx-text-fill: #fff;
}